.blog .box-form{
    height: 390px;
    width: 330px;
    border-radius: 20px;
    border: #000 1px solid;
   padding-top: 15px;
   padding-left: 10px;
   margin-bottom: 50px;
}
.blog .box-form h5{
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
    border-bottom:1px solid #615d5d ;
    padding-bottom: 15px;
}
.blog .box-form .images-box{
    display: flex;
    margin-bottom: 20px;
}
.blog .box-form .images-box img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}
.blog .box-form .images-box p{
    text-decoration: underline;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.blog .box-form .images-box h6{
    color: #d8d8d8;
    font-size: 12px;
    margin-top: -7px;
}
.blog .box-form .images-box h6 span{
    margin-right: 5px;
    margin-top: -9px;
}
.blog .box-form-2{
    height: 200px;
    border: #000 1px solid;
    padding: 9px;
    width: 330px;
    border-radius: 20px;
    margin-top: -40px;
}
.blog .box-form-2 h5{
    color: #000;
    margin-bottom: 15px;
    font-weight: 600;
    border-bottom:1px solid #615d5d ;
    padding-bottom: 15px;
}
.blog .box-form-2 .span{
    margin-bottom: 15px;
}
.blog .box-form-2 span{
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    color: #000;
    background-color: #F6FAFD;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}
.blog .box-form-2 .pp{
    display: flex;
}
.blog .box-form-2 .pp p{
    margin-right: 10px;
    color: #000;
    background-color: #F6FAFD;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}
.blog .contant{
   max-width: 690px; 
    border: #000 1px solid;
    border-radius: 20px;
    min-height: 600px;
    padding:15px ;
    margin-bottom: 30px;
}
.blog .contant h3{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.blog .contant .box-icon{
    display: flex;
    
    margin-bottom: 20px;
}
.blog .contant .box-icon span{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 35px;
}
.blog .contant .box-icon span .icon{
    margin-right: 9px;
    font-size: 14px;
}
.blog .contant .box-images-2{
    background-image: url('../../../aswetsss/1.png27.jpg');
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 620px;
    height: 340px;
    margin-bottom: 30px;
    margin-right: 25px;
}
.blog .contant p{
    font-size: 15px;
    color: #000;
}
.blog .share{
    max-width: 660px;
    margin-left: 10px;
    min-height: 80px;
    border-radius: 10px;
    background-color: #f3f2ee;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.blog .share .share-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.blog .share .share-text h5{
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.blog .share .share-text h5 span{
    font-size: 12px;
    font-weight: 500;
}
.blog .share .text-icons{
    margin-top: 8px;
    margin-left: 35px;
}
.blog .share .text-icons p{
    font-weight: 600;
    color: #000;
    font-size: 14px;
}
.blog .share .text-icons p span .icon{
    color: #ac7c30;
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: .4s ease all;
}
.blog .share .text-icons p span .icon:hover{
   transform: scale(1.2);
}
.blog .componant{
    max-width: 660px;
    margin-left: 10px;
    min-height: 60px;
    border-radius: 15px;
    border: #000 1px solid;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}
.blog .componant{
    font-weight: 600;
    color: #000;
}
.blog .form{
    max-width: 660px;
    margin-left: 10px;
    min-height: 300px;
    border-radius: 15px;
    border: #000 1px solid;
    padding: 15px 20px ;
    margin-bottom: 20px;
}
.blog .form .inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.blog .form .inputs input{
   outline: none; 
   padding: 15px 20px;
   height: 40px;
   border: #bebcb2 1px solid;
   border-radius: 20px;
   width: 45%;
   background-color: #e9e7db;
}
.blog .form .inputs input:focus{
    border: #1976d2 2px solid;
}
.blog .form .input{
    outline: none; 
    padding: 15px 20px;
    height: 110px;
    border: #bebcb2 1px solid;
    border-radius: 20px;
    width:100%;
    background-color: #e9e7db;
}
.blog .form .input:focus{
    border: #1976d2 2px solid;
}
.blog .form .supmit{
    border: none;
    outline: none;
    margin-top: 18px;
    padding: 8px 15px;
    background-color: #92764e;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    transition: .3s ease all;
}
.blog .form .supmit:hover{
    border: #92764e 1px solid;
    color: #92764e;
    background-color: transparent;
}